@font-face {
  font-family: "Prata";
  src: url(../fonts/Prata/Prata-Regular.woff2) format("woff2"),
    url(../fonts/Prata/Prata-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Regular.woff2) format("woff2"),
    url(../fonts/Raleway/Raleway-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Medium.woff2) format("woff2"),
    url(../fonts/Raleway/Raleway-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Light.woff2) format("woff2"),
    url(../fonts/Raleway/Raleway-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Raleway", sans-serif;
  --second-family: "Prata", sans-serif;
  --font-size-main: 16px;
  --font-size-second: 18px;
  --chernyy: #000;
  --solomennyy: #faca47;
  --belyy: #fff;
  --cvet-fona: #fdfaf4;
  --korichnevyy: #ad2d11;
  --cvet-futera: #181515;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus-within,
a:focus-visible,
a:focus {
  outline: none;
}

svg:focus,
svg:focus-visible,
svg:focus-within {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
section {
  margin: 0;
}

.btn-reset {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 1rem;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ------ COMON STYLES ------ */
body {
  font-family: "Raleway", sans-serif;
  font-size: var(--font-size-main);
  font-weight: 400;
  color: var(--chernyy);
  background-color: var(--cvet-fona);
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1366px;
  width: 100%;
  padding-left: 95px;
  padding-right: 95px;
  margin: 0 auto;
}

.menu {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--korichnevyy);
}

.section-padding {
  padding-top: 127px;
  padding-bottom: 176px;
}

.section-descr {
  display: flex;
  justify-content: flex-end;
}

/* ------ HEADER SECTION ------ */
.header {
  min-height: 732px;
  padding-left: 195px;
  padding-right: 195px;
  background-image: url(../image/header/header_main_foto.png);
  background-repeat: no-repeat;
  background-color: wheat;
}
.header__menu {
  display: flex;
  padding-top: 32px;
  padding-bottom: 25px;
  min-height: 76px;
}
.header__menu-nav {
  margin: 0 auto;
}

.header__menu-list {
  display: flex;
  gap: 64px;
}

.header__menu-link {
  transition: color 0.3s ease-in-out;
}
.header__menu-link:focus,
.header__menu-link:hover {
  color: var(--korichnevyy);
}

.header__menu-link:active {
  color: var(--solomennyy);
}

.header__line {
  display: block;
  outline: 1px solid var(--chernyy);
  opacity: 0.15;
}
/* ------ HERO SECTION ------ */
.header__hero {
  min-height: 656px;
  text-align: center;
}

.hero__title {
  padding-top: 227px;
  font-size: 48px;
  margin-bottom: 12px;
}

.hero__text {
  font-size: 24px;
}
/* ------ CITY-ABOUT SECTION ------ */
.city-about {
  padding-top: 205px;
  padding-left: 0;
  padding-right: 0;
}

.city-about__title {
  padding-left: 95px;
  margin-bottom: 57px;
}

/* ------ CITY-ABOUT-SLIDER ------ */

.city-about-swiper-container {
  padding-right: 95px;
  padding-bottom: 124px;
}

.city-about-swiper {
  position: relative;
  overflow: hidden;
}

.city-about-swiper-slide {
  display: flex;
  justify-content: space-between;
}

.city-about-swiper-slide__descr {
  max-width: 376px;
  padding-bottom: 186px;
}

.city-about-swiper-slide__text {
  font-size: 18px;
  line-height: 144%;
}

/* ------ CITY-ABOUT-SLIDER-NAVIGATION ------ */

.city-about-btn-navigation {
  position: absolute;
  display: flex;
  gap: 24px;
  bottom: 100px;
  left: 895px;
}

.city-about-swiper-buttons {
  z-index: 10;
}

.city-about-swiper-buttons.swiper-button-disabled {
  opacity: 0.3;
  cursor: auto;
}

.city-about-swiper-button-icon circle {
  transition: 0.3s ease-in-out;
}

.city-about-swiper-button-icon path {
  transition: 0.3s ease-in-out;
}

.city-about-swiper-buttons:focus .city-about-swiper-button-icon circle {
  stroke: var(--solomennyy);
}
.city-about-swiper-buttons:hover .city-about-swiper-button-icon circle {
  stroke: var(--solomennyy);
}

.city-about-swiper-buttons:focus .city-about-swiper-button-icon path {
  stroke: var(--solomennyy);
}
.city-about-swiper-buttons:hover .city-about-swiper-button-icon path {
  stroke: var(--solomennyy);
}

.city-about-swiper-buttons:active .city-about-swiper-button-icon circle {
  stroke: var(--chernyy);
}

.city-about-swiper-buttons:active .city-about-swiper-button-icon path {
  stroke: var(--chernyy);
}

.city-about-swiper-buttons:disabled .city-about-swiper-button-icon circle {
  stroke: var(--korichnevyy);
}

.city-about-swiper-buttons:disabled .city-about-swiper-button-icon path {
  stroke: var(--korichnevyy);
}

/* ------ CITY-ABOUT-SLIDER-PAGINATION ------ */

.city-about-swiper-pagination {
  position: absolute;
  z-index: 10;
}

.city-about-swiper-pagination.swiper-pagination-horizontal {
  left: 25%;
  bottom: 27px;
}

.swiper-pagination-bullet {
  width: 32px;
  height: 2px;
  border-radius: 0;
  opacity: 1;
  background-color: var(--belyy);
}

.swiper-pagination-horizontal.city-about-swiper-pagination
  .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-horizontal.city-about-swiper-pagination
  .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.swiper-pagination-bullet-active {
  background: var(--solomennyy);
}

/* ------ END CITY-ABOUT-SLIDER ------ */

.city-about__descr {
  display: flex;
  align-items: center;
  min-height: 576px;
  padding-top: 12px;
  padding-left: 95px;
  padding-bottom: 51px;
  background: url(../image/about/Petr_on_horse.png) no-repeat 1009px 48px,
    url(../image/about/cup.png) no-repeat 175px 223px;
  background-color: var(--belyy);
}

.city-about__text {
  max-width: 1114px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 169%;
}
/* ------ CITY-HISTORY SECTION ------ */

.city-history-block {
  padding: 46px 100px;
  padding-bottom: 24px;
}

.city-history-list {
  counter-reset: cityHistoryItemsCount 0;
}

.city-history-item {
  display: flex;
}

.city-history-item:nth-child(2n + 1) {
  justify-content: flex-end;
}

.city-history-item-descr {
  display: flex;
  align-items: center;
  width: 50%;
  min-height: 200px;
  position: relative;
}

/* .city-history-item:first-child .city-history-item-descr,
.city-history-item:last-child .city-history-item-descr {
  min-height: 200px;
} */

.city-history-item:nth-child(2n + 1) .city-history-item-descr {
  flex-direction: row-reverse;
}

.city-history-item-descr:before {
  content: counter(cityHistoryItemsCount);
  counter-increment: cityHistoryItemsCount 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-family: var(--second-family);
  font-size: 18px;
  border-radius: 100px;
  background-color: var(--solomennyy);
  color: var(--belyy);
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.city-history-item:nth-child(2n) .city-history-item-descr:before {
  right: 0;
  left: auto;
  transform: translate(50%, -50%);
}

.city-history-item:nth-child(2n + 1) .city-history-item-descr:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--solomennyy);
  left: -0.5px;
}

.city-history-item:nth-child(2n) .city-history-item-descr:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--solomennyy);
  right: -0.5px;
}

.city-history-item:first-child .city-history-item-descr:after {
  top: 50%;
}

.city-history-item:last-child .city-history-item-descr:after {
  bottom: 50%;
}

.city-history-item-descr__picture {
  flex-shrink: 0;
}

.city-history-item-descr-image {
  display: block;
  width: 176px;
  height: 176px;
  padding: 13px;
  outline: 1px solid var(--solomennyy);
  border-radius: 100%;
}

.city-history-item-descr__events {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}

.city-history-item-descr__events-year {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  padding: 12px 21px;
  color: var(--chernyy);
  border-bottom: 1px solid var(--solomennyy);
}

.city-history-item:nth-child(2n + 1) .city-history-item-descr__events-year {
  padding-left: 41px;
  /* padding-bottom: 11px; */
}

.city-history-item:nth-child(2n) .city-history-item-descr__events-year {
  padding-right: 40px;
}

.city-history-item-descr__events-text {
  height: 50%;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 137%;
  padding: 12px 21px;
  color: var(--chernyy);
}

.city-history-item:nth-child(2n + 1) .city-history-item-descr__events-text {
  padding-left: 41px;
}

.city-history-item:nth-child(2n) .city-history-item-descr__events-text {
  padding-left: 24px;
  padding-right: 44px;
}

.city-history-item:first-child .city-history-item-descr__events-text {
  padding-left: 74px;
  padding-right: 54px;
}

.city-history-item:nth-child(3) .city-history-item-descr__events-text {
  padding-left: 74px;
  padding-right: 54px;
}

.city-history-item:nth-child(2n + 6) .city-history-item-descr__events-text {
  padding-left: 13px;
  padding-right: 33px;
}

/* ------ CITY-SIGHTSEEING SECTION ------ */

.city-sightseeing {
  padding-top: 116px;
  background-color: var(--belyy);
}

.section-descr--city-sightseeing-paddings {
  padding-top: 158px;
  padding-bottom: 179.5px;
}

.section-descr__text {
  max-width: 676px;
  font-size: 18px;
  line-height: 167%;
}

.city-sightseeing-item {
  padding-top: 75.5px;
  padding-bottom: 100px;
  border-top: 0.5px solid var(--solomennyy);
}

.city-sightseeing-item:last-child {
  padding-bottom: 0;
}

.city-sightseeing-content {
  display: flex;
}

.city-sightseeing-content__name {
  width: 187px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-right: 113px;
}

.city-sightseeing-content__descr {
  display: flex;
  gap: 24px;
}

.city-sightseeing-content__descr-img {
  display: block;
}

.city-sightseeing-content__descr-text {
  max-width: 475px;
  font-family: var(--font-family);
  line-height: 162%;
  margin-top: -6px;
}

/* ------ CITY-BUDGET SECTION ------ */

.section-padding--budget {
  padding-top: 129px;
  padding-bottom: 224px;
}

.section-descr--city-budget-paddings {
  padding-top: 59px;
  padding-bottom: 201px;
}

.city-budget-cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.city-budget-card {
  width: 276px;
  padding-top: 39px;
  padding-bottom: 16px;
  padding-left: 28px;
  padding-right: 27px;
  text-align: center;
}

.city-budget-card__icon {
  height: 60px;
  margin-bottom: 29px;
}

.city-budget-card__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 144%;
  margin-bottom: 16px;
}

.city-budget-card__price {
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 118%;
}

/* ------ CITY-MAP SECTION ------ */
.city-map {
  padding-top: 28px;
  padding-left: 0;
  padding-right: 0;
}

.city-map__title {
  margin-bottom: 57px;
  padding-left: 95px;
}

.city-map__image {
  font-size: 0;
}
/* ------ FOOTER SECTION ------ */
.footer {
  min-height: 200px;
  padding-top: 38px;
  padding-bottom: 24px;
  color: var(--cvet-fona);
  background-color: var(--cvet-futera);
}

.footer__menu-wrapper {
  padding-left: 601px;
  padding-right: 81px;
  padding-bottom: 26px;
}

.footer__info-block {
  display: flex;
  font-size: 12px;
  padding-left: 2px;
}

.footer__text {
  margin-right: 59px;
}

.footer__menu {
  font-weight: 500;
  column-count: 2;
  column-gap: 105px;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__menu-link {
  transition: color 0.3s ease-in-out;
}
.footer__menu-link:focus,
.footer__menu-link:hover {
  color: var(--solomennyy);
}

.footer__menu-link:active {
  color: var(--korichnevyy);
}
